.menu-tree {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  padding: 20px;
}

.tree-node {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
  padding: 10px 15px;
  width: 120px;
  text-align: center;
}
.tree-node span{
  font: normal normal normal 10px/13px Montserrat;
  letter-spacing: 0px;
  color: #0B1C34;
  display: block;
  margin-top: 10px;
}

.greeting-node {
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
  padding: 10px;
  width: 120px;
  text-align: center;
}

.connector {
  width: 2px;
  background-color: #ccc;
  margin: 0 auto;
}

.connector-bottom {
  height:50px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.connector-horizontal{
  height: 2px;
  width: 53%;
}
.tree-branches {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 300px;
}
.node-container{
  display: flex;
  flex-direction: column;
}
.node-container::before{
  content:'';
  display: block;
  height:50px;
  margin-bottom: 0px;
  margin-top: 0px;
  width: 2px;
  background-color: #ccc;
  margin: 0 auto;
}
.menu {
  margin-bottom: 10px;
}

.menu-header {
  margin-bottom: 10px;
  text-align: center;
}
.menu-header h3{
  font: normal normal bold 10px/13px Montserrat;
  letter-spacing: 0px;
  color: #0B1C34;
  margin: 0 !important;
}
.menu-header p{
  font: normal normal normal 10px/13px Montserrat;
  letter-spacing: 0px;
  color: #0B1C34;
  margin: 0 !important;
}
.menu-targets {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.target-number {
  display: flex;
  align-items: center;
  background: rgba(48, 124, 216,0.18) 0% 0% no-repeat padding-box;
  border-radius: 5px;
  padding: 5px 10px;
  column-gap: 10px;
  width: 120px;
  margin-bottom: 0px;
}
.target-number img{
  width: 10px;

}
.target-number p{
  font: normal normal normal 10px/13px Montserrat;
  letter-spacing: 0px;
  color: #0B1C34 !important;
  margin: 0;
}
.no-target-number {
  display: flex;
  justify-content: center;
  align-items: center;
}

.save-button {
  background-color: #4caf50; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 30px;
  cursor: pointer;
}